<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Users</title>
<link th:href="@{/css/users.css}" rel="stylesheet" />
</head>
<body>

	<h1>Users</h1>


	<div th:if="${selectedUserId != null }">
		<div th:if="${user.userId == null}">
			<p>
				User with ID <span th:text="${selectedUserId}"></span> does not
				exist.
			</p>
			<a href="/users">Back to User List</a>
		</div>
		<div th:if="${user.userId != null}">
			<form action="" method="post">

				<input type="hidden" th:field="${user.userId}" />
				<div>
					Username: <input type="text" th:field="${user.username}" />
				</div>
				<br />
				<div>
					Password: <input type="password" th:field="${user.password}" />
				</div>
				<br />
				<div>
					Full Name: <input type="text" th:field="${user.name}" />
				</div>
				<br />
				<hr />
				<div>
					Address Line 1:<input type="text"
						th:field="${user.address.addressLine1}" />
				</div>
				<br />
				<div>
					Address Line 2:<input type="text"
						th:field="${user.address.addressLine2}" />
				</div>
				<br />
				<div>
					City:<input type="text" th:field="${user.address.city}" />
				</div>
				<br />
				<div>
					Region:<input type="text" th:field="${user.address.region}" />
				</div>
				<br />
				<div>
					Zip Code:<input type="text" th:field="${user.address.zipCode}" />
				</div>
				<input type="hidden" th:field="${user.address.userId}" />

				<hr />
				<br />
				<div>
					<input type="submit" value="Update User Account" />
				</div>

			</form>

			<form th:action="@{/users/{userId}/delete(userId=${user.userId})}"
				method="post">
				<input type="submit" value="Delete User Account" />

			</form>

			<form th:action="@{{userId}/accounts/(userId=${user.userId})}"
				method="post">
				<h2>Accounts</h2>
				<div th:each="account:${user.accounts}">
					<a
						th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${account.accountId})}"
						th:text="${account.accountName}"></a>
				</div>

				<input type="submit" value="Create New Account" />
			</form>
			<div>
				<a href="/users/">Back to User List</a>
			</div>
		</div>


	</div>
	<div th:if="${selectedUserId == null and not #lists.isEmpty(users)}">
		<div th:each="user : ${users}">
			<a th:href="@{/users/{userId}(userId=${user.userId})}"
				th:text="${user.userId}"></a><br /> <span
				th:text="${user.username}"></span><br /> <span
				th:text="${user.name}"></span><br /> <span
				th:text="${user.password}"></span>
			<div th:each="account : ${user.accounts}">
				<a
					th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${account.accountId})}"
					th:text="${account.accountName}"></a>
			</div>
			<hr />
		</div>


	</div>
	<div th:if="${selectedUserId == null and #lists.isEmpty(users)}">
		<h2>No Users in Database, please register Users</h2>
		<a href="/register">Click here to register New User</a>
	</div>



</body>
</html>